<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="posts" data-eventful-widget="true" id="A__posts__b5017db9-5024-4e3f-a3aa-8103d2042818" (click)="trace($event);">Posts</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="new-post" data-eventful-widget="true" id="A__new-post__2c9d3841-5d1f-4d66-95b6-2daf7b17e7ed" (click)="trace($event);">Add a New Post</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="users" data-eventful-widget="true" id="A__users__4cb88f11-7197-4680-b13c-6002f58b4d95" (click)="trace($event);">Users</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="new-user" data-eventful-widget="true" id="A__new-user__7efd822b-60af-4fa5-9d4e-27eb8a085897" (click)="trace($event);">Add a New User</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="user-search" data-eventful-widget="true" id="A__user-search__e1dcccbd-198b-4915-8792-c113aa0eca62" (click)="trace($event);">Search Users</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="date-time-form" data-eventful-widget="true" id="A__date-time-form__f2181bd6-7d30-4743-b95d-96cb88fd1bac" (click)="trace($event);">DateTime Form</a>
            </li>
        </ul>
    </div>
</nav>